@import '../../mixin-variables.scss';

.header {
  display: flex;
  min-height: 80px;
  align-items: center;
  font-size: 18px;
  line-height: calc(28 / 18 * 100%);
  background-color: $header;
  padding: 0 22px;

  & img {
    border-radius: 50%;
    margin-left: 13px;
    object-fit: cover;
  }
}

.header-link {
  display: inline-flex;
  align-items: center;
  color: $font-color;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 18px;
  margin-left: auto;

  &-btn {
    background-color: transparent;
    color: $green;
    border: 1px solid $green;
    border-radius: 5px;
    margin-left: 0;

    &:hover {
      background-color: rgba($input-gray, 0.3);
      color: $form-btn;
      transition: 0.3s;
    }
  }
}

.active-link {
  color: $font-color;
}

.logo {
  flex-grow: 1;
  padding: 0;
  margin-left: 0;
}
